@import "colors.scss";

.flex {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-reversed {
    display: flex;
    flex-direction: row-reverse;
}

.flex-vertical-reversed {
    display: flex;
    flex-direction: column-reverse;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.stretched-flex-item {
    flex: 1 0;
}

.space-between-flex-container {
    justify-content: space-between;
}

.space-around-flex-container {
    justify-content: space-around;
}

.baseline-aligned-flex-container {
    align-items: baseline;
}

.end-aligned-flex-item {
    align-self: flex-end;
}

.end-align-flex-container {
    align-items: flex-end;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.contents {
    display: contents;
}

.horizontal-centerer {
    @extend .flex;
    justify-content: center;
}

.vertical-centerer {
    @extend .flex;
    align-items: center;
}

.centerer {
    @extend .horizontal-centerer;
    @extend .vertical-centerer;
}

.non-displayed {
    display: none;
}

.full-screen {
    @extend .full-size;
    position: fixed;
    left: 0;
    top: 0;
}


/*Размеры*/
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-size {
    @extend .full-width;
    @extend .full-height;
}

.standart-icon-size {
    width: 24px;
    height: 24px;
}

.half-width {
    width: 50%;
}

.half-height {
    height: 50%;
}

.quarter-width {
    width: 25%;
}

.main-font {
    font-family: 'Cascadia Mono'
}

.medium-font {
    @extend .main-font;
    font-size: 15px;
}